@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  background: #FAFAFA;
  color: #404040;


  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 23px;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  -webkit-font-smoothing: antialiased;
}