.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 36px 0;
  text-align: center;
}

.header-avatar {
  flex-basis: 7.5rem;
}

.header-hi {
  line-height: 1;
  color: var(--color-gray700);
  font-size: 0.9rem;
  font-weight: 400;
}

.header-title {
  margin: 0.75rem 0;
}

.header-name {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  color: var(--color-gray900);
  font-size: 2rem;
  font-weight: 600;
  font-style: normal;
}

.header-position {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-gray700);
}

.header-body {
  flex-basis: 28rem;
}

.header-social {
  display: flex;
  gap: .75rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.header-social-item {
  display: flex;
  height: 48px;
  width: 48px;
  border-radius: 12px;
  transition: all .4s ease-in-out;
}

.header-social-linkedin {
  background: rgba(10, 102, 194, 0.1);
}
.header-social-linkedin:hover {
  background: rgba(10, 102, 194, 0.2);
}

.header-social-github {
  background: rgba(137, 87, 229, 0.1);
}
.header-social-github:hover {
  background: rgba(137, 87, 229, 0.2);
}

.header-social-dribbble {
  background: rgba(234, 76, 137, 0.1)
}
.header-social-dribbble:hover {
  background: rgba(234, 76, 137, 0.2)
}

.header-social-hackerrank {
  background: rgba(46, 200, 201, 0.1)
}
.header-social-hackerrank:hover {
  background: rgba(46, 200, 201, 0.2)
}

.social-social-icon {
  display: flex;
  width: 22px;
  height: 22px;
  margin: auto;
  transition: all .4s ease-in-out;
}

.header-social-item:hover .social-social-icon {
  transform: scale(1.1);
}

@media only screen and (min-width: 640px) {
  .header {
    text-align: left;
  }

  .header-social {
    justify-content: flex-start;
  }
}