/*
FONTS:
font-family: 'Anonymous Pro', monospace;
font-family: 'Open Sans', sans-serif;

Colors scheme: https://coolors.co/25ced1-fceade-020202-ff8a5b-ea526f
*/

@import "./reset.css";
@import "./brandcolors.css";

@import "./root.css";

@import "./header.css";
@import "./section.css";

.main {
  padding: 5rem 0;
  color: #f0f0f0;
}

.main a {
  color: #f0f0f0;
}

.projects {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 620px) {
  .projects {
    flex-direction: row;
  }
}

.project {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background: #161616;
  border: 1px solid #333333;

  margin: 0 0 2rem 0;
}
  .project:last-child {
    margin-right: 0;
  }
@media only screen and (min-width: 620px) {
  .project {
    margin: 0 2rem 0 0;
  }
  .project:last-child {
    margin-bottom: 0;
  }
}


.project_title {
  text-transform: uppercase;
}

.project_desc,
.project_actions {
  margin: 1rem 0 0 0;
  line-height: 1.5;
  letter-spacing: 1px;
}

.project_actions {
  align-self: flex-end;
  margin: auto 0 0 0;
}

