/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
} 
*/

body {
  min-height: 100vh;
  margin: 0;
  background: #FAFAFA;
  color: #404040;


  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 23px;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 36px 0 48px 0;
}

.header-avatar {
  width: 180px;
  padding: 0 24px 0 0;
}

.header-hi {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 16px;
}

.header-title {
  margin: 12px 0;
}

.header-name {
  line-height: 1;
  padding-bottom: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.header-position {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.header-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-social-item {
  display: flex;
  height: 48px;
  width: 48px;
  margin-right: 12px;
  border-radius: 12px;
}

.header-social-linkedin {
  background: rgba(137, 87, 229, 0.1);
}
.header-social-github {
  background: rgba(10, 102, 194, 0.1)
}
.header-social-dribbble {
  background: rgba(234, 76, 137, 0.15)
}

.social-social-icon {
  display: flex;
  width: 28px;
  height: 28px;
  margin: auto;
}

.nav {
  padding: 12px 0;
  background: #EFEFEF;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  overflow-x: auto;
}

.nav-list-item {
  display: block;
  padding: 12px 24px;
  border-radius: 4px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  color: #4B4B4B;
  text-decoration: none;
  transition: background-color .4s ease;
}

.nav-list-item:hover {
  background: #E4E2E3;
}

.main {
  width: 90%;
  max-width: 1120px;
  margin: 36px auto;
}

.section {
  margin: 0 0 36px 0;
}

.section-title {
  margin: 0 0 24px 0;
  color: #404040;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .6px;
}

.section p {
  margin: 0 0 3px 0;
}

.timeline {
  position: relative;
  padding: 0 0 0 12px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #A4A4A4;
  top: 0;
  bottom: 0;
  left: 2px;
}

.project {
  max-width: 480px;
  padding: 12px;
  background: #EFEFEF;
  border-radius: 8px;

  font-size: 16px;
  color: #323335;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.project-company {
  color: #4D4F51;
  font-size: 18px;
  font-weight: 500;
}

.project-position {
  color: #323335;
  font-size: 18px;
  font-weight: 600;
}

.project-heading {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #696B6E;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}