@import "./styles/vars.css";

@import "./styles/reset.css";

@import "./styles/common.css";
@import "./styles/header.css";
@import "./styles/nav.css";


.main {
  width: 90%;
  max-width: 1120px;
  margin: 36px auto;
}

.section {
  margin: 0 0 36px 0;
}

.section-title {
  margin: 0 0 24px 0;
  color: #404040;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .6px;
}

.section-introduction p {
  margin: 0 0 3px 0;
}

.job-title {
  position: relative;
}

.job-title::after {
  content: "";
  background-color: #a4a4a4;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: -17px;
  border-radius: 5px;
  border: 2px solid #fff;
  z-index: 1;
}

.timeline {
  position: relative;
  padding: 0 0 0 15px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #A4A4A4;
  top: 0;
  bottom: 0;
  left: 2px;
}

.job-title {
  margin: 0 0 12px 0;
}

.job-company {
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 8px 0;
}

.job-time {
  font-size: 18px;
  line-height: 150%;
}

.projects {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.project {
  width: 40%;
  min-width: 360px;
  margin: 0 10px 0 0;

  padding: 12px;
  background: #EFEFEF;
  border-radius: 8px;

  font-size: 16px;
  color: #404040;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.project-section {
  margin: 24px 0 0 0;
}
.project-section:first-child {
  margin-top: 0;
}

.project-company {
  margin: 0 0 8px 0;
  color: #525252;
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
}

.project-position {
  color: #404040;
  line-height: 100%;
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
}

.project-heading {
  margin-bottom: 8px;
  color: #A3A3A3;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 500;
}