@import "./styles/vars.css";
@import "./styles/reset.css";
@import "./styles/common.css";
@import "./styles/header.css";
@import "./styles/about.css";

@media(prefers-reduced-motion: no-preference) {
  body {
    opacity: 0;
    animation: fadeIn .8s forwards;
  }

  @keyframes fadeIn {
    to {
        opacity: 1;
    }
  }
}